@import url('base/reset.css');
@import url('base/variables.css');

@import url('components/navbar.css');
@import url('components/buttons.css');
@import url('components/form.css');

@import url('sections/hero.css');
@import url('sections/services.css');
@import url('sections/about.css');
@import url('sections/consultation.css');
@import url('sections/contact.css');
@import url('sections/qualifications.css');
/* Add other sections here */

body {
  font-family: var(--font-primary);
}

.section {
    opacity: 0;
    /*transition: opacity 1s ease-out, transform 1s ease-out; */
    background: #2c3e50;
  }
  
  .section.section-visible {
    opacity: 1;
    transform: translateY(1);
  }

  .container { 
    width: 80%;
    align-items: center;
  }

  .titlename {
    padding: 2rem;
    font-size: 2rem;
  }

  .translucent-box {
    background-color: #ecf0f1;
    opacity: 0.80; /* Value between 0 (fully transparent) and 1 (fully opaque) */
    border: 1px solid #ccc; 
    padding: 1rem; 
    border-radius: 6px;
  }

  ul {
    list-style-type: "\2192";
    list-style-position: outside; /* Default position */
    /*padding-left: 1.2em;  Reduce default 40px padding */
    font-size: 3rem;
  }

  li {
    font-size: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 0.8rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom:1rem;
    padding: 0.5rem;

  }