@import url('base/reset.css');
@import url('base/variables.css');

@import url('components/navbar.css');
@import url('components/buttons.css');
@import url('components/form.css');

@import url('sections/hero.css');
@import url('sections/services.css');
@import url('sections/about.css');
@import url('sections/consultation.css');
@import url('sections/contact.css');
@import url('sections/qualifications.css');
/* Add other sections here */

body {
  font-family: var(--font-primary);
}

.section {
    padding: 3rem;
    opacity: 0;
    /*transition: opacity 1s ease-out, transform 1s ease-out; */
    background: #2c3e50;
  }
  
  .section.section-visible {
    opacity: 1;
    transform: translateY(1);
  }

  .container { 
    width: 80%;
    align-items: center;
  }

  .titlename {
    padding: 2rem;
    font-size: 2rem;
  }

  .translucent-box {
    background-color: #ecf0f1;
    opacity: 0.85; /* Value between 0 (fully transparent) and 1 (fully opaque) */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    padding: 10px; /* Optional: Add some padding for the content */
    border-radius: 6px;
  }

  ul {
    list-style-type: "\2192";
    list-style-position: outside; /* Default position */
    padding-left: 1.2em; /* Reduce default 40px padding */
  }